html {
    scroll-behavior: smooth;
}

body {
    background-image: url("https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80");
    background-repeat: no-repeat;
    background-size: cover;
  
}

nav ul a {
    color: black;
}

h1 {
    padding-left: 100px;
    text-align: center;
    font-size: 100px;
}

.about-size {
    font-size: 17px;
    line-height: 2;
}

.footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;

}



.navbar-color {
    background: rgba(255, 255, 255, 0);
    
}

.about-background {
    background-color: white;
}

nav .brand-logo {
    padding-left: 15px;
    color: black;

}

.about-wrapper {
    background-color: white;
}

.about-title {
    text-align: center;
}

.my-work {
    padding-left: 25px;
    text-align: center;
}

.work-wrapper {
   
    margin: 0;
    
}

.button-wrapper {
text-align: center;
}

.btn-large {
    background-color: black;
}

.contact-wrapper {
    background-color: white;
}

.contact-title {
    text-align: center;
}

.contact-line {
    text-align: center;
}