html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../images/schrader_website.png');
    background-repeat: no-repeat;
   background-size: contain;
   /* min-width: 100%;
   min-height: 100%; */
   
}

nav ul a {
    color: white;
}

h1 {
    opacity: 1;
    padding-left: 100px;
    text-align: center;
    font-size: 100px;
    color: white;
    transition: opacity, .6s, ease-in-out;
}


div.hidden{
    display: none;
}

.about-size {
    font-size: 17px;
    line-height: 2;
}





.navbar-color {
    background: rgba(255, 255, 255, 0);
   
    
    
}

i.material-icons {
    color: black;
}

/* .navbar-color.scrolled {
    background-color: #3d3f50 !important;
    transition: background-color  linear;
  } */

.about-background {
    background-color: white;
}

nav .brand-logo {
    padding-left: 15px;
    color: white;

}

.about-wrapper {
    background-color: white;
}

.about-title {
    text-align: center;
}

.my-work {
    padding-left: 25px;
    text-align: center;
}

.work-wrapper {
   
    margin: 0;
    
}

.button-wrapper {
text-align: center;
}

.btn-large {
    background-color: black;
}

.contact-wrapper {
    background-color: white;
}

.contact-title {
    text-align: center;
}

.contact-line {
    text-align: center;
}

.info-wrapper {
    text-align: center;
}

.profile-wrapper {
    text-align: center;
}

.title-fonts {
    font-family: 'Roboto Condensed', sans-serif;
}

#fullstack {
    font-family: 'Noto Sans', sans-serif;
}

.sidenav-overlay {
    background-color:rgba(175, 179, 191, 0);
   z-index: -7;
}

.profile-pic {
    height: 80%;
    width: 80%;
}

.hidden-button{
    display: none;
}

.hidden-logo{
    display: none;
}

.fa-cheveron-down{
    display: inline-block;
   
}

/* @media only screen and (max-width: 772px) {
    h1 {
        padding-left: 50px;
        text-align: center;
        font-size: 50px;
    }
  }

  @media only screen and (max-width: 450px){
    .hidden-logo{
        display: inline;
        text-align: center;
    }

    .hide-logo{
        display: none;
    }
  }

  @media only screen and (max-width: 375px) {
      body{
          background-size: contain;
      }

      /* h1 {
        padding-left: 15px;
        text-align: center;
        font-size: 15px;
      } */

      /* .brand-size {
          font-size: 15px;
          text-align: center;
      }
      
      .hidden-button{
          display: block;
      }
  }

  @media only screen and (max-width: 325px){
      .hidden-button{
          display: block;
      }

      .btn-large{
          display: none;
      }

      

      
  } */

  @media only screen and (max-width: 400px){
      body{
        background-image: url('../images/schrader_mobile.png');
        background-repeat: no-repeat;
       background-size: contain;
      }
  };
