html {
    scroll-behavior: smooth;
}

body {
    background-image: url("https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80");
    background-repeat: no-repeat;
    background-size: cover;
  
}

nav ul a {
    color: black;
}

h1 {
    padding-left: 100px;
    text-align: center;
    font-size: 100px;
}

.about-size {
    font-size: 17px;
    line-height: 2;
}

.footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;

}



.navbar-color {
    background: rgba(255, 255, 255, 0);
    
}

.about-background {
    background-color: white;
}

nav .brand-logo {
    padding-left: 15px;
    color: black;

}

.about-wrapper {
    background-color: white;
}